Repository MissouriMRDT/Autonomy_Software, pull requests merged in 2023-10, with the labels that each got.

#136 Add Docker Builder Action
  .devcontainer/Dockerfile_Focal
  .github/workflows/deploy_docker.yml
  .github/workflows/tests.yml
  tools/action-runners/Dockerfile_Jammy
  tools/action-runners/compose.yml
Labels: enhancement, 4-Star, docker, actions

#137 Add Static IP Script
  tools/set_static_ip.sh
Labels: enhancement, 1-Star, dev-environment

#138 Implement Barebones SIMCam and Code Cleanup.
  examples/threading/README.md
  examples/vision/OpenBasicCam.hpp
  examples/vision/OpenZEDCam.hpp
  src/AutonomyConstants.h
  src/AutonomyGlobals.cpp
  src/AutonomyGlobals.h
  src/AutonomyLogging.h
  src/algorithms/DifferentialDrive.hpp
  src/drivers/DriveBoard.cpp
  src/drivers/DriveBoard.h
  src/drivers/MultimediaBoard.cpp
  src/drivers/MultimediaBoard.h
  src/drivers/NavigationBoard.cpp
  src/drivers/NavigationBoard.h
  src/handlers/CameraHandler.cpp
  src/handlers/CameraHandler.h
  src/handlers/README.md
  src/interfaces/AutonomyThread.hpp
  src/interfaces/StateMachine.hpp
  src/main.cpp
  src/states/AbortState.hpp
  src/states/ApproachingGateState.hpp
  src/states/ApproachingMarkerState.hpp
  src/states/AvoidanceState.hpp
  src/states/IdleState.hpp
  src/states/NavigationState.hpp
  src/states/ReverseState.hpp
  src/states/SearchPatternState.hpp
  src/states/StuckState.hpp
  src/util/GeospatialOperations.hpp
  src/util/IPS.hpp
  src/util/NumberOperations.hpp
  src/util/vision/FetchContainers.hpp
  src/util/vision/ImageOperations.hpp
  src/vision/cameras/BasicCam.cpp
  src/vision/cameras/BasicCam.h
  src/vision/cameras/SIMCam.cpp
  src/vision/cameras/SIMCam.h
  src/vision/cameras/ZEDCam.cpp
  src/vision/cameras/ZEDCam.h
  tests/Unit/src/util/NumberOperations.cc
Labels: enhancement, 3-Star, cleanup, dev-environment

#139 New ImageOperation for PointClouds and Code Docs Cleanup
  .devcontainer/devcontainer.json
  .gitignore
  CONTRIBUTING.md
  INSTALL.md
  README.md
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  examples/threading/ArucoGenerateTags.hpp
  examples/threading/PrimeNumbers.hpp
  examples/threading/README.md
  examples/vision/OpenBasicCam.hpp
  examples/vision/OpenZEDCam.hpp
  src/AutonomyConstants.h
  src/AutonomyLogging.h
  src/algorithms/DifferentialDrive.hpp
  src/drivers/DriveBoard.cpp
  src/drivers/DriveBoard.h
  src/drivers/MultimediaBoard.cpp
  src/drivers/NavigationBoard.cpp
  src/handlers/CameraHandler.cpp
  src/handlers/CameraHandler.h
  src/interfaces/AutonomyThread.hpp
  src/states/AbortState.hpp
  src/states/ApproachingGateState.hpp
  src/states/ApproachingMarkerState.hpp
  src/states/AvoidanceState.hpp
  src/states/IdleState.hpp
  src/states/NavigationState.hpp
  src/states/ReverseState.hpp
  src/states/SearchPatternState.hpp
  src/states/StuckState.hpp
  src/util/GeospatialOperations.hpp
  src/util/IPS.hpp
  src/util/NumberOperations.hpp
  src/util/vision/ImageOperations.hpp
  src/vision/cameras/BasicCam.cpp
  src/vision/cameras/SIMCam.cpp
  src/vision/cameras/ZEDCam.cpp
  src/vision/cameras/ZEDCam.h
  tests/Unit/src/util/IPS.cc
  tests/Unit/src/util/NumberOperations.cc
  tools/navboard-simulation/run.py
  tools/valgrind/README.md
Labels: 2-Star, formatting, cleanup, dev-environment

#142 Update Docker Action Runners
  tools/action-runners/Dockerfile_Jammy
  tools/action-runners/Dockerfile_JetPack
  tools/action-runners/compose.yml
Labels: enhancement, 1-Star, docker, actions, dev-environment

#141 Write Drivers for Rover Hardware Interfaces
  .devcontainer/Dockerfile_Focal
  .devcontainer/Dockerfile_Jammy
  .devcontainer/Dockerfile_JetPack
  .devcontainer/devcontainer.json
  CMakeLists.txt
  CONTRIBUTING.md
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  src/AutonomyConstants.h
  src/algorithms/DifferentialDrive.hpp
  src/algorithms/controllers/PIDController.cpp
  src/algorithms/controllers/PIDController.h
  src/algorithms/controllers/README.md
  src/drivers/DriveBoard.cpp
  src/drivers/DriveBoard.h
  src/drivers/NavigationBoard.cpp
  src/drivers/NavigationBoard.h
  src/util/GeospatialOperations.hpp
  src/util/NumberOperations.hpp
  tests/Unit/src/algorithms/DifferentialDrive.cc
  tests/Unit/src/util/GeospatialOperations.cc
  tests/Unit/src/util/NumberOperations.cc
Labels: enhancement, 3-Star, docker, unit tests, dev-environment
