Repository MissouriMRDT/Autonomy_Software, pull requests merged in 2024-11, with the labels that each got.

#350 Incremental Merge of Unit Tests Coverage Branch (#342)
  .devcontainer/Dockerfile_Jammy
  .devcontainer/Dockerfile_JetPack
  .devcontainer/devcontainer.json
  .github/workflows/coverage.yml
  .github/workflows/deploy_docker.yml
  CMakeLists.txt
  CONTRIBUTING.md
  DEBUG.md
  README.md
  codecov.yml
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  data/README_Resources/images/display_coverage_example.png
  data/README_Resources/images/display_coverage_gutters.png
  data/README_Resources/images/select_run_program.png
  data/README_Resources/images/select_run_target.png
  data/README_Resources/images/toolbar_change_build_target.png
  data/README_Resources/images/toolbar_change_run_target.png
  image.png
  src/AutonomyLogging.cpp
  src/drivers/DriveBoard.cpp
  src/drivers/MultimediaBoard.cpp
  src/drivers/NavigationBoard.cpp
  src/states/NavigatingState.h
  tests/Unit/src/algorithms/controllers/PIDController.cc
  tests/Unit/src/algorithms/pathplanners/AStarPlanner.cc
  tests/Unit/src/drivers/DriveBoard.cc
  tests/Unit/src/drivers/MultimediaBoard.cc
  tests/Unit/src/drivers/NavigationBoard.cc
  tests/Unit/src/handlers/CameraHandler.cc
  tests/Unit/src/handlers/ObjectDetectionHandler.cc
  tools/package-builders/ffmpeg/ffmpeg-amd64-pkg.sh
  tools/package-builders/ffmpeg/ffmpeg-arm64-pkg.sh
  tools/package-builders/geolib/geolib-amd64-pkg.sh
  tools/package-builders/geolib/geolib-arm64-pkg.sh
  tools/package-builders/libdatachannel/libdatachannel-amd64-pkg.sh
  tools/package-builders/libdatachannel/libdatachannel-arm64-pkg.sh
Labels: bug, 2-Star, docker, actions, testing, dev-environment

#355 Implement cleaner method of creating the dpkg control files
  tools/package-builders/abseil/abseil-amd64-pkg.sh
  tools/package-builders/abseil/abseil-arm64-pkg.sh
  tools/package-builders/ffmpeg/ffmpeg-amd64-pkg.sh
  tools/package-builders/ffmpeg/ffmpeg-arm64-pkg.sh
  tools/package-builders/geolib/geolib-amd64-pkg.sh
  tools/package-builders/geolib/geolib-arm64-pkg.sh
  tools/package-builders/gtest/gtest-amd64-pkg.sh
  tools/package-builders/gtest/gtest-arm64-pkg.sh
  tools/package-builders/libdatachannel/libdatachannel-amd64-pkg.sh
  tools/package-builders/libdatachannel/libdatachannel-arm64-pkg.sh
  tools/package-builders/opencv/opencv-amd64-pkg.sh
  tools/package-builders/opencv/opencv-arm64-pkg.sh
  tools/package-builders/pytorch/pytorch-amd64-pkg.sh
  tools/package-builders/pytorch/pytorch-arm64-pkg.sh
  tools/package-builders/quill/quill-amd64-pkg.sh
  tools/package-builders/quill/quill-arm64-pkg.sh
  tools/package-builders/tensorflow/tensorflow-amd64-pkg.sh
  tools/package-builders/tensorflow/tensorflow-arm64-pkg.sh
Labels: bug, 1-Star, formatting, docker, performance

#351 Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement, 1-Star, formatting, cleanup

#356 Update and Improve GHAR Docker Environments
  image.png
  tools/action-runners/Dockerfile_Jammy
  tools/action-runners/Dockerfile_JetPack
  tools/action-runners/docker-compose.yml
  tools/action-runners/scripts/start.sh
Labels: bug, 1-Star, formatting, docker, performance
