Repository MissouriMRDT/Autonomy_Software, pull requests merged in 2024-01, with the labels that each got.

#153 Implement Camera Recording Handler
  CMakeLists.txt
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  examples/vision/tagdetection/ArucoDetectionBasicCam.hpp
  examples/vision/tagdetection/ArucoDetectionZED.hpp
  src/AutonomyConstants.h
  src/AutonomyGlobals.cpp
  src/AutonomyLogging.cpp
  src/AutonomyLogging.h
  src/handlers/CameraHandler.cpp
  src/handlers/CameraHandler.h
  src/handlers/RecordingHandler.cpp
  src/handlers/RecordingHandler.h
  src/handlers/TagDetectionHandler.cpp
  src/handlers/TagDetectionHandler.h
  src/interfaces/AutonomyThread.hpp
  src/interfaces/Camera.hpp
  src/vision/aruco/ArucoDetection.hpp
  src/vision/aruco/TagDetector.cpp
  src/vision/aruco/TagDetector.h
  src/vision/aruco/TensorflowDetection.hpp
  src/vision/cameras/BasicCam.cpp
  src/vision/cameras/BasicCam.h
  src/vision/cameras/SIMCam.cpp
  src/vision/cameras/SIMCam.h
  src/vision/cameras/ZEDCam.cpp
  src/vision/cameras/ZEDCam.h
Labels: enhancement, 3-Star, cleanup, logging, cameras

#154 HOTFIX: Camera Recorder and General Bug Fixes
  examples/vision/tagdetection/ArucoDetectionBasicCam.hpp
  src/AutonomyConstants.h
  src/handlers/RecordingHandler.cpp
  src/handlers/TagDetectionHandler.cpp
  src/interfaces/AutonomyThread.hpp
  src/interfaces/Camera.hpp
  src/main.cpp
  src/vision/aruco/TagDetector.cpp
  src/vision/aruco/TagDetector.h
  src/vision/cameras/ZEDCam.cpp
Labels: bug, cleanup, logging, cameras

#156 Doxygen Graphs are Ugly
  Doxyfile
  README.md
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  examples/opencv/TagGenerator.hpp
  examples/threading/ArucoGenerateTags.hpp
  examples/threading/PrimeNumbers.hpp
  examples/vision/cameras/OpenZEDCam.hpp
  external/threadpool/BSThreadPool.hpp
  src/AutonomyConstants.h
  src/AutonomyGlobals.h
  src/AutonomyLogging.cpp
  src/AutonomyLogging.h
  src/IdentitySoftware.h
  src/algorithms/DifferentialDrive.hpp
  src/drivers/DriveBoard.h
  src/drivers/MultimediaBoard.cpp
  src/drivers/NavigationBoard.h
  src/handlers/CameraHandler.h
  src/handlers/RecordingHandler.cpp
  src/handlers/RecordingHandler.h
  src/interfaces/AutonomyThread.hpp
  src/interfaces/Camera.hpp
  src/main.cpp
  src/util/GeospatialOperations.hpp
  src/util/IPS.hpp
  src/util/NumberOperations.hpp
  src/util/vision/FetchContainers.hpp
  src/util/vision/ImageOperations.hpp
  src/vision/aruco/ArucoDetection.hpp
  src/vision/aruco/TagDetector.h
  src/vision/aruco/TensorflowDetection.hpp
  src/vision/cameras/BasicCam.h
  src/vision/cameras/SIMCam.h
  src/vision/cameras/ZEDCam.h
  tests/Example.cc
  tests/Integration/main.cc
  tests/Unit/main.cc
  tests/Unit/src/algorithms/DifferentialDrive.cc
  tests/Unit/src/aruco/TagDetectionOpenCV.cc
  tests/Unit/src/util/GeospatialOperations.cc
  tests/Unit/src/util/IPS.cc
  tests/Unit/src/util/NumberOperations.cc
Labels: documentation, 1-Star, cleanup

#159 Implement More Features/Attributes from GeographicLib.
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  data/models/zed/.8501_timing_cache
  src/AutonomyConstants.h
  src/algorithms/controllers/PIDController.cpp
  src/drivers/DriveBoard.cpp
  src/handlers/RecordingHandler.cpp
  src/main.cpp
  src/util/GeospatialOperations.hpp
  src/util/NumberOperations.hpp
  src/vision/cameras/ZEDCam.cpp
  tests/Unit/src/util/GeospatialOperations.cc
  tests/Unit/src/util/NumberOperations.cc
Labels: bug, enhancement, 1-Star, unit tests, cameras

#160 State Machine Improvements
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  src/AutonomyConstants.h
  src/handlers/RecordingHandler.cpp
  src/handlers/StateMachineHandler.cpp
  src/handlers/StateMachineHandler.h
  src/interfaces/AutonomyThread.hpp
  src/interfaces/Camera.hpp
  src/interfaces/State.hpp
  src/main.cpp
  src/states/ApproachingMarkerState.hpp
  src/states/ApproachingObjectState.hpp
  src/states/AvoidanceState.hpp
  src/states/IdleState.hpp
  src/states/NavigatingState.hpp
  src/states/ReversingState.hpp
  src/states/SearchPatternState.hpp
  src/states/StuckState.hpp
  src/states/VerifyingMarkerState.hpp
  src/states/VerifyingObjectState.hpp
Labels: enhancement, 2-Star, formatting, logging, state-machine

#161 AutonomyThread IPS Inaccurate
  INSTALL.md
  src/main.cpp
  src/vision/aruco/TagDetector.cpp
  src/vision/aruco/TagDetector.h
  src/vision/cameras/BasicCam.cpp
  src/vision/cameras/ZEDCam.cpp
Labels: bug, documentation, 1-Star, cleanup

#163 Update Docker Images on README
  README.md
Labels: documentation, 1-Star, formatting

#166 Update deploy_docker.yml
  .github/workflows/deploy_docker.yml
Labels: bug, enhancement, 4-Star, actions

#167 Reconfigure the docker files and builder some
  .devcontainer/Dockerfile_Focal
  .devcontainer/Dockerfile_Jammy
  .devcontainer/Dockerfile_JetPack
  .devcontainer/devcontainer.json
  .github/workflows/deploy_docker.yml
Labels: 1-Star, docker, actions, cleanup

#168 Upgrade Docker Builder
  .devcontainer/Dockerfile_Focal
  .devcontainer/Dockerfile_Jammy
  .devcontainer/Dockerfile_JetPack
  .devcontainer/devcontainer.json
  .github/workflows/deploy_autonomy.yml
  .github/workflows/deploy_docker.yml
  .github/workflows/tests.yml
  .gitignore
  README.md
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  tools/package-builders/geolib/geolib-amd64-pkg.sh
  tools/package-builders/geolib/geolib-arm64-pkg.sh
  tools/package-builders/gtest/gtest-amd64-pkg.sh
  tools/package-builders/gtest/gtest-arm64-pkg.sh
  tools/package-builders/opencv/opencv-amd64-pkg.sh
  tools/package-builders/opencv/opencv-arm64-pkg.sh
  tools/package-builders/quill/quill-amd64-pkg.sh
  tools/package-builders/quill/quill-arm64-pkg.sh
Labels: bug, enhancement, 5-Star, docker, actions, cleanup, dev-environment
