Repository MissouriMRDT/Autonomy_Software, pull requests merged in 2025-04, with the labels that each got.

#374 Improve AStar Coverage with Obstacle and Maze Tests
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  src/algorithms/planners/AStar.cpp
  tests/Unit/src/algorithms/planners/AStarPlanner.cc
Labels: enhancement, 3-Star, testing

#375 Add new Snake Search Pattern
  .github/workflows/tests.yml
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  src/AutonomyConstants.h
  src/algorithms/SearchPattern.hpp
  src/drivers/DriveBoard.cpp
  src/states/SearchPatternState.cpp
  src/states/SearchPatternState.h
  tests/Unit/src/algorithms/SearchPattern.cc
  tests/Unit/src/algorithms/controllers/PIDController.cc
Labels: bug, enhancement, 1-Star

#377 Upgrades and Maintenance Cleanup
  .devcontainer/Jammy.dockerfile
  .devcontainer/JetPack.dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/deploy_autonomy.yml
  .github/workflows/valgrind.yml
  src/AutonomyLogging.cpp
  src/AutonomyLogging.h
  tools/package-builders/quill/quill-amd64-pkg.sh
  tools/package-builders/quill/quill-arm64-pkg.sh
Labels: enhancement, 2-Star, formatting, docker, actions, cleanup, dev-environment, decision, upgrade, performance, security

#378 Approaching Marker State
  CMakeLists.txt
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  data/models/yolo_models/tag/v5n_x640_175epochs/best.pt
  data/models/yolo_models/tag/v5n_x640_175epochs/best.torchscript
  data/models/yolo_models/tag/v8n_x640_200epochs/best.torchscript
  examples/vision/cameras/OpenBasicCam.hpp
  examples/vision/cameras/OpenZEDCam.hpp
  examples/vision/dnn/InferenceYOLOModel.hpp
  examples/vision/pcl/ZEDCAMPointCloudTest.hpp
  examples/vision/pcl/ZEDSLAM.hpp
  examples/vision/tagdetection/ArucoDetectionBasicCam.hpp
  examples/vision/tagdetection/ArucoDetectionZED.hpp
  src/AutonomyConstants.cpp
  src/AutonomyConstants.h
  src/algorithms/SearchPattern.hpp
  src/algorithms/planners/AStar.cpp
  src/handlers/CameraHandler.cpp
  src/handlers/CameraHandler.h
  src/handlers/ObjectDetectionHandler.cpp
  src/handlers/ObjectDetectionHandler.h
  src/handlers/StateMachineHandler.cpp
  src/handlers/TagDetectionHandler.cpp
  src/handlers/TagDetectionHandler.h
  src/main.cpp
  src/states/ApproachingMarkerState.cpp
  src/states/ApproachingMarkerState.h
  src/states/NavigatingState.cpp
  src/states/ReversingState.cpp
  src/states/SearchPatternState.cpp
  src/states/StuckState.cpp
  src/states/VerifyingMarkerState.cpp
  src/states/VerifyingMarkerState.h
  src/states/VerifyingPositionState.cpp
  src/util/logging/PlotsAndGraphs.hpp
  src/util/states/StuckDetection.hpp
  src/util/states/TagDetectionChecker.hpp
  src/util/vision/BoundingBoxTracking.cpp
  src/util/vision/BoundingBoxTracking.h
  src/util/vision/TagDetectionUtilty.hpp
  src/util/vision/YOLOModel.hpp
  src/vision/aruco/ArucoDetection.hpp
  src/vision/aruco/TagDetector.cpp
  src/vision/aruco/TagDetector.h
  src/vision/aruco/TensorflowTagDetection.hpp
  src/vision/aruco/TorchTagDetection.hpp
  src/vision/cameras/BasicCam.cpp
  src/vision/cameras/ZEDCam.cpp
  src/vision/cameras/sim/SIMBasicCam.cpp
  src/vision/cameras/sim/SIMZEDCam.cpp
  tests/Unit/src/algorithms/SearchPattern.cc
  tests/Unit/src/algorithms/planners/AStarPlanner.cc
  tests/Unit/src/vision/aruco/ArucoDetectionTests.cc
Labels: bug, enhancement, 3-Star, cleanup, rovecomm, cameras, state-machine, simulator, tag-detection, performance
