Repository MissouriMRDT/Autonomy_Software, pull requests merged in 2025-02, with the labels that each got.

#366 Docker Builder Updates
  .deepsource.toml
  .devcontainer/Jammy.dockerfile
  .devcontainer/JetPack.dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/coverage.yml
  .github/workflows/deploy_autonomy.yml
  .github/workflows/deploy_docker.yml
  CMakeLists.txt
  README.md
  codecov.yml
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  src/AutonomyLogging.cpp
  src/AutonomyLogging.h
  tools/action-runners/Jammy.dockerfile
  tools/action-runners/JetPack.dockerfile
  tools/action-runners/docker-compose.yml
  tools/package-builders/abseil/abseil-amd64-pkg.sh
  tools/package-builders/abseil/abseil-arm64-pkg.sh
  tools/package-builders/ffmpeg/ffmpeg-amd64-pkg.sh
  tools/package-builders/ffmpeg/ffmpeg-arm64-pkg.sh
  tools/package-builders/geolib/geolib-amd64-pkg.sh
  tools/package-builders/geolib/geolib-arm64-pkg.sh
  tools/package-builders/gtest/gtest-amd64-pkg.sh
  tools/package-builders/gtest/gtest-arm64-pkg.sh
  tools/package-builders/libdatachannel/libdatachannel-amd64-pkg.sh
  tools/package-builders/libdatachannel/libdatachannel-arm64-pkg.sh
  tools/package-builders/opencv/opencv-amd64-pkg.sh
  tools/package-builders/opencv/opencv-arm64-pkg.sh
  tools/package-builders/pytorch/pytorch-amd64-pkg.sh
  tools/package-builders/pytorch/pytorch-arm64-pkg.sh
  tools/package-builders/quill/quill-amd64-pkg.sh
  tools/package-builders/quill/quill-arm64-pkg.sh
  tools/package-builders/tensorflow/tensorflow-amd64-pkg.sh
  tools/package-builders/tensorflow/tensorflow-arm64-pkg.sh
  tools/toggle_cowsay.sh
Labels: enhancement, 3-Star, formatting, docker, actions, cleanup, dev-environment, upgrade, performance

#367 Testing Cleanup
  README.md
  src/AutonomyLogging.cpp
  src/main.cpp
  tests/Example.cc
  tests/TestingBase.hh
  tests/Unit/src/algorithms/DifferentialDrive.cc
  tests/Unit/src/algorithms/SearchPattern.cc
  tests/Unit/src/algorithms/controllers/PIDController.cc
  tests/Unit/src/algorithms/controllers/StanleyController.cc
  tests/Unit/src/algorithms/pathplanners/AStarPlanner.cc
  tests/Unit/src/drivers/DriveBoard.cc
  tests/Unit/src/drivers/MultimediaBoard.cc
  tests/Unit/src/drivers/NavigationBoard.cc
  tests/Unit/src/handlers/CameraHandler.cc
  tests/Unit/src/handlers/ObjectDetectionHandler.cc
  tests/Unit/src/util/GeospatialOperations.cc
  tests/Unit/src/util/IPS.cc
  tests/Unit/src/util/NumberOperations.cc
  tests/Unit/src/vision/aruco/ArucoDetectionTests.cc
  tests/Unit/src/vision/cameras/BasicCam.cc
  tests/Unit/src/vision/cameras/ZEDCam.cc
  tests/Unit/src/vision/cameras/sim/SIMBasicCam.cc
  tests/Unit/src/vision/cameras/sim/SIMZEDCam.cc
  tests/Unit/src/vision/cameras/sim/WebRTC.cc
Labels: 1-Star, cleanup, testing

#365 Incremental Merge of A* Testing Branch | New Graphing Utility!
  .devcontainer/Jammy.dockerfile
  .devcontainer/JetPack.dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/deploy_docker.yml
  .gitignore
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  data/Custom_Dictionaries/Autonomy-Dictionary.txt
  docs/WhitePapers/2011-Adapting-Standard-Video-Codecs-for-Depth-Streaming.pdf
  docs/WhitePapers/2020-A-Path-Tracking-Algorithm-Using-Predictive-Stanley-Lateral-Controller.pdf
  src/AutonomyConstants.h
  src/AutonomyLogging.cpp
  src/AutonomyLogging.h
  src/algorithms/controllers/PredictiveStanleyController.cpp
  src/algorithms/controllers/PredictiveStanleyController.h
  src/algorithms/controllers/StanleyController.cpp
  src/algorithms/controllers/StanleyController.h
  src/algorithms/kinematics/BicycleModel.hpp
  src/algorithms/kinematics/DifferentialDrive.hpp
  src/algorithms/planners/AStar.cpp
  src/algorithms/planners/AStar.h
  src/drivers/DriveBoard.h
  src/handlers/CameraHandler.cpp
  src/states/AvoidanceState.cpp
  src/states/AvoidanceState.h
  src/states/NavigatingState.cpp
  src/states/NavigatingState.h
  src/states/SearchPatternState.cpp
  src/states/SearchPatternState.h
  src/states/StuckState.cpp
  src/util/logging/PathTracer2D.hpp
  src/util/logging/PlotsAndGraphs.hpp
  src/vision/cameras/sim/SIMZEDCam.cpp
  tests/TestingBase.hh
  tests/Unit/src/algorithms/DifferentialDrive.cc
  tests/Unit/src/algorithms/controllers/PredictiveStanleyController.cc
  tests/Unit/src/algorithms/pathplanners/AStarPlanner.cc
  tests/Unit/src/util/logging/PathTracer2D.cc
  tests/Unit/src/util/logging/PlotsAndGraphs.cc
  tools/logging/search_pattern_debug.py
  tools/package-builders/matplotplusplus/matplotplusplus-amd64-pkg.sh
  tools/package-builders/matplotplusplus/matplotplusplus-arm64-pkg.sh
Labels: enhancement, docker, dev-environment, logging, state-machine
